<!DOCTYPE html>
<html lang="en">
<title>My Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
    .topnav {
        background-color: #333;
        overflow: hidden;
    }
    .topnav a{
        float: left;
        color: #F2F2F2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font: 400 15px Lato, sans-serif;
    }
    .topnav a:hover{
        background-color: #DDD;
        color: black;
    }

    .topnav a.active {
        background-color: #61977E;
        color: white;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a  href="#news">News</a>
    <a  href="#Contact">Contact</a>
    <a  href="#about">About</a>
</div>

</body>
</html>